.story-image{
    background-color: #9F74B9;
    height: 8.2rem;
    width: 8.2rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-image img{
    height: 3.4rem;
    width: 3.4rem;
}